RewriteEngine On

RewriteRule ^home?$ index.php
RewriteRule ^home/?$ index.php

RewriteRule ^account/login?$ src/login.php
RewriteRule ^account/login/?$ src/login.php

RewriteRule ^account/logout?$ src/logout.php
RewriteRule ^account/logout/?$ src/logout.php

RewriteRule ^myAccount?$ src/myAccount.php
RewriteRule ^myAccount/?$ src/myAccount.php

RewriteRule ^cart?$ src/cart.php
RewriteRule ^cart/?$ src/cart.php

RewriteRule ^cart/checkout?$ src/checkout.php
RewriteRule ^cart/checkout/?$ src/checkout.php

RewriteRule ^api?$ lib/ajax_gateway_api.php
RewriteRule ^api/?$ lib/ajax_gateway_api.php

RewriteRule ^a/api?$ admin/ajax_admin_api.php
RewriteRule ^a/api/?$ admin/ajax_admin_api.php

RewriteRule ^search?$ src/search.php
RewriteRule ^search/?$ src/search.php



RewriteRule ^p/([0-9a-zA-Z-]+)/([0-9a-zA-Z-]+)/ src/product.php?sprid=$2
RewriteRule ^p/([0-9a-zA-Z-]+)/([0-9a-zA-Z-]+) src/product.php?sprid=$2
