RewriteEngine On

RewriteRule ^home?$ index.php
RewriteRule ^home/?$ index.php

RewriteRule ^contact?$ contact.php
RewriteRule ^contact/?$ contact.php

RewriteRule ^ad.min?$ admin/admin.php
RewriteRule ^ad.min/?$ admin/admin.php

RewriteRule ^ct?$ admin/controller.php
RewriteRule ^ct/?$ admin/controller.php


RewriteRule ^view/([0-9a-zA-Z-.]+)/ view.php?aid=$1
RewriteRule ^view/([0-9a-zA-Z-.]+) view.php?aid=$1
